body {
	width:100%;
	background-image:url(/img/postersanfrancisco.jpg);
	background-repeat:repeat-x;
	
}


#main-container {
	background-color: rgba(3, 3, 3, 0.64);
	width:100%;
	height:150px;
	

}

img#selfphoto {
 width: 150px; 
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  
}


h1 {
	font-size: 100px;
	font-family: helvetica;
	color:white;
	display:inline-block;
	vertical-align:bottom;
	position:relative;
	text-shadow: 2px 2px 5px black;
	
			
}

h1#left-title {
	
	margin-left:0px;
}

h1#right-title{

	margin-right:0px;
}

#container2 {
	width:100%;
	margin-top: 320px;
}

.resume {
	width:300px;
	margin:auto;
}

#resume {
	border-radius:300px 300px 300px 300px;
	width:300px;
	
				
}

h3 {
	font-size:50px;
	color:white;
	background-color:rgba(3, 3, 3, 0.84);
	text-align:center;
	border-radius: 50px;
	

}

#ig-definition {
	display:inline-block;
	color:white;
	background-color:rgba(0, 0, 0, 0.82);
	width:200px;
	position:fixed;
	bottom:30px;
	padding:10px;
	font-family:serif;
	
	
	
	
}

footer {
	position:fixed;
	bottom:0px;
	font-size:20px;
	color:#796262;
	background-color:rgba(3, 3, 3, 0.64);
	height:25px;
	width:100%;
	text-align:center;
	padding-top:3px;
	
}

